<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}" class="dark">
<head>
  {{ partial "head.html" . }}
  {{ partial "mailerlite.html" . }}
</head>
<body class="flex min-h-screen bg-neutral-900 text-neutral-100">
  
  {{ partial "sidebar.html" . }}
 
  <div class="ml-80 flex min-h-screen w-full flex-col">
    
    {{ partial "header.html" . }}

    <main class="flex-1 px-6 py-8 bg-neutral-900">
      <div class="mx-auto max-w-4xl">
        {{ block "main" . }}{{ end }}
      </div>
    </main>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </div>
</body>
</html>